body{
            display: flex;
            height: 100vh;
            width: 100vw;
            justify-content:center ;
            align-items: center;
            overflow: hidden;
        }
        .container{
            display: flex;
            flex-direction: column;
            border: 5px solid black;
            height: 300px;
            width: 350px;
            background-color: antiquewhite;
            border-radius: 10px;
        }
        #count{
            font-size: 65px;
            text-align: center;
        }
        .buttons{
            display: flex;
            justify-content: space-around;
        }
        .button{
            font-size: 40px;
            background-color: gray;
            border-radius: 5px;
        }
        h2{
            text-align: center;
        }